---
import { Image } from 'astro:assets'

import { Quote } from 'astro-pure/advanced'
import { PostPreview } from 'astro-pure/components/pages'
import { getBlogCollection, sortMDByDate } from 'astro-pure/server'
import { Button, Card, Icon, Label } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'
import Section from '@/components/home/Section.astro'
import SkillLayout from '@/components/home/SkillLayout.astro'
import avatar from '@/assets/avatar.png'
import config from '@/site-config'

const frontend = ['JavaScript', 'Vite', 'Vue', 'Astro', 'CSS', 'Html']
const backend = ['Java', 'Php', 'Python']

const MAX_POSTS = 10
const allPosts = await getBlogCollection()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)
---

<PageLayout meta={{ title: '主页' }} highlightColor='#659EB9'>
  <main class='flex w-full flex-col items-center'>
    <section class='animate mb-10 flex flex-col items-center gap-y-7' id='content-header'>
      <Image
        src={avatar}
        alt='profile'
        class='h-28 w-auto rounded-full border p-1'
        loading='eager'
      />

      <div class='flex flex-col items-center gap-y-4'>
        <h1 class='text-3xl font-bold'>{config.author}</h1>
        <div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
          <Label title='贵州 / 贵阳'>
            <Icon name='location' class='size-5' slot='icon' />
          </Label>
          <Label
            title='GitHub'
            as='a'
            href='https://github.com/Arshe123'
            target='_blank'
          >
            <Icon name='github' class='size-5' slot='icon' />
          </Label>
        </div>
      </div>
    </section>

    <div id='content' class='animate flex flex-col gap-y-10 md:w-4/5 lg:w-5/6'>
      <Section title='简介'>
        <p class='text-muted-foreground'>程序员 / 玩家 / 学生</p>
        <p class='text-muted-foreground'>
          你好，我叫Arshe，一个开发者，对技术比较感兴趣。
        </p>
        <p class='text-muted-foreground'>平时爱玩点游戏，喜欢看书。</p>
        <p class='text-muted-foreground'>偶尔看看动漫和美剧。</p>
        <Button title='了解更多' class='w-fit self-end' href='/about' variant='ahead' />
      </Section>
      {
        allPostsByDate.length > 0 && (
          <Section title='博客'>
            <ul class='flex flex-col gap-y-1.5 sm:gap-y-2'>
              {allPostsByDate.map((p) => (
                <li class='flex flex-col gap-x-2 sm:flex-row'>
                  <PostPreview post={p} />
                </li>
              ))}
            </ul>
            <Button title='查看更多' class='w-fit self-end' href='/blog' variant='ahead' />
          </Section>
        )
      }
      <Section title='教育'>
        <Card
          as='a'
          heading='贵州大学'
          subheading='软件工程'
          date='2023.8 - 至今'
          href='https://www.gzu.edu.cn/'
          target='_blank'
        >
          {
            //  <ul class='ms-4 list-disc text-muted-foreground'>
            //   <li>
            //     Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore debitis recusandae, ut
            //     molestiae laboriosam pariatur!
            //   </li>
            //   <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, pariatur!</li>
            // </ul> 
          }
        </Card>
      </Section>

      <Section title='技能'>
        <SkillLayout title='前端' skills={frontend} />
        <SkillLayout title='后端' skills={backend} />
      </Section>
    </div>
    <Quote class='mt-12' />
  </main>
</PageLayout>
